.demo-box.demo-dialog {
  .full-image {
    width: 100%;
  }
  .el-dialog__wrapper {
    margin: 0;
  }
  .el-select {
    width: 300px;
  }
  .el-input {
    width: 300px;
  }
  .el-button--text {
    margin-right: 15px;
  }
}
