@charset "UTF-8";
@import "./checkbox.css";
@import "./tag.css";
@import "./common/var.css";

@component-namespace el {
  @b table-column {
    @m selection .cell {
      padding-left: 5px;
      padding-right: 5px;
      height: 30px;
      position: relative;
      & .el-checkbox {
        line-height: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        & .el-checkbox__label {
          display: none;
        }
        & .el-checkbox__inner {
          display: block;
        }
      }
    }
    @m radio .cell {
      padding-left: 5px;
      padding-right: 5px;
      height: 30px;
      position: relative;
      .el-radio {
        line-height: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .el-radio__label {
          display: none;
        }
        .el-radio__inner {
          display: block;
        }
      }
    }
  }

  @b table-filter {
    border: solid 1px var(--color-base-gray);
    border-radius: 2px;
    background-color: var(--color-white);
    box-shadow: var(--dropdown-menu-box-shadow);
    box-sizing: border-box;
    margin: 2px 0;

    /** used for dropdown mode */
    @e list {
      padding: 5px 0;
      margin: 0;
      list-style: none;
      min-width: 100px;
    }

    @e list-item {
      line-height: 36px;
      padding: 0 10px;
      cursor: pointer;
      font-size: var(--font-size-base);

      &:hover {
        background-color: var(--dropdown-menuItem-hover-fill);
        color: var(--dropdown-menuItem-hover-color);
      }

      @when active {
        background-color: var(--color-primary);
        color: var(--color-white);
      }
    }

    @e content {
      min-width: 100px;
    }

    @e bottom {
      border-top: 1px solid var(--color-base-gray);
      padding: 8px;

      button {
        background: transparent;
        border: none;
        color: var(--color-base-silver);
        cursor: pointer;
        font-size: var(--font-size-base);
        padding: 0 3px;

        &:hover {
          color: var(--color-primary);
        }

        &:focus {
          outline: none;
        }

        &.is-disabled {
          color: var(--color-extra-light-silver);
          cursor: not-allowed;
        }
      }
    }

    @e checkbox-group {
      padding: 10px;

      label.el-checkbox {
        display: block;
        margin-bottom: 8px;
        margin-left: 5px;
      }

      .el-checkbox:last-child {
        margin-bottom: 0;
      }
    }
  }
}